:root {
  --primary-color: #f37907;
  --secondary-color: rgb(11, 245, 245);
  --white-color: #fff;
  --black-color: rgb(0, 0, 0);
  --grey-color: rgb(119, 118, 115);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: calibri;
}

.toggleContainer {
  width: 34px;
  height: 24px;
  border: 1px solid white;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: var(--primary-color);
  cursor: pointer;
  position: absolute;
  right: 10px;
  /* display: none; */
  overflow: hidden;
}

.bar span {
  width: 25px;
  height: 3px;
  background-color: var(--black-color);
  display: block;
  margin: 3px;
  transition: 0.3s all;
  border-radius: 5px;
}
.bar.active span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
}
.bar.active span:nth-child(2) {
  opacity: 0;
}
.bar.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 6px;
}

.media-icons {
  display: flex;
  justify-content: left;
}

/* Navigation Menu */

nav {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 999;
}

nav .navBar {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  margin: auto;
}
.menu {
  display: flex;
  position: relative;
}
.menu li {
  margin: 0 20px;
  list-style: none;
}
.menu li a {
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  padding: 5px 0;
  transition: all 0.4s ease;
}

.logo a {
  color: var(--primary-color);
  font-size: 30px;
}
.logo a:hover {
  color: var(--secondary-color);
}
nav .navBar .menu li a:hover {
  color: var(--secondary-color);
}

nav .navBar .stickey {
  background-color: var(--primary-color);
}
nav .navBar .stickey a {
  color: var(--white-color);
}
nav .navBar .stickey .menu a:hover {
  color: var(--black-color);
}

nav .navBar .media-icons a {
  color: var(--primary-color);
}
nav .navBar .media-icons a:hover {
  color: #99fff6;
}
nav .navBar .media-icons a {
  margin: 0 10px;
  padding: 0 5px;
  font-size: 20px;
}
nav .navBar .stickey .media-icons {
  color: var(--white-color);
}

/* Home section styling */

.home {
  /* height: 100vh; */
  width: 100%;
  
  background: rgba(0, 0, 0, 0.6) url(images/img1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-blend-mode: darken;
   background-attachment: fixed;
  padding: 100px 0;
}

.home-Content {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  color: var(--white-color);
}
.home-Content .text2 {
  font-size: 75px;
  font-weight: 500;
}
.home-Content .text1 {
  font-size: 30px;
  font-weight: 100;
  border-right: 4px solid var(--white-color);
  animation-name: animatedHeading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 5s;
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  border-color: var(--white-color);
  font-family: calibri;
}
.home-Content .text3 {
  font-size: 20px;
  color: var(--primary-color);
  margin: 5px 0;
}

.home-Content .text4 {
  margin-bottom: 20px;
}
.home-Content .btn-cls button {
  background-color: var(--primary-color);
  border: 2px solid var(--white-color);
  padding: 5px;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 1s all;
  font-weight: 900;
}
.home-Content .btn-cls button a{
  color:var(--black-color);
}
.home-Content .btn-cls button:hover a{
  color: var(--white-color);
}
.home-Content .btn-cls button:hover {
  font-weight: 900;
  background-color: var(--black-color);
  color: var(--white-color);
}
.home-Content .profile img {
  width: 140px;
  border-radius: 50%;
  /* height:140px; */
  border: 5px solid var(--white-color);
  margin-top: 60%;
}
@keyframes animatedHeading {
  0% {
    width: 0ch;
  }
  50% {
    width: 9ch;
  }
  100% {
    width: 21ch;
  }
}

/* About Section  */

.about {
  padding-top: 30px;
  /* height: 100vh; */
  background-color: #f0f8ff;
  padding-bottom: 10%;
}
section .content {
  width: 80%;
  margin: 40px auto;
}
.about-details {
  display: flex;
  justify-content: space-between;
}
.about-details .left img {
  width: 400px;
  border-radius: 10px;
  height: 270px;
  object-fit: cover;
  margin-top: 30px;
}
.content .title {
  text-align: center;
}
.content .title span {
  font-size: 40px;
  font-weight: 900;
}
.about-details .left {
  width: 45%;
}
.about-details .right {
  width: 50%;
  margin-top: 10px;
}
section .topic {
  color: var(--black-color);
  font-size: 30px;
  margin-top: 17px;
}
.right p {
  font-weight: 300;
  line-height: 38px;
  color: rgb(117, 109, 109);
  margin-top: 16px;
  font-family: calibri;
}
.about-details {
  margin-top: 58px;
}
.button button {
  width: 100px;
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.4s ease;
}
.button button:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

section .title span {
  border-bottom: 2px solid var(--primary-color);
}

/* Skills Section css */

.skills {
  background: #f0f8ff;
}
.skills .container {
  padding: 65px 0;
}
.textHead span {
  border-bottom: 2px solid var(--primary-color);
}
.textHead {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.leftContent {
  padding: 4%;
}
.leftContent .paraHead {
  font-size: 30px;
  font-weight: 600;
}
.leftContent .topic {
  padding: 25px 0;
}
.contentHead {
  display: flex;
  justify-content: space-between;
}
.skills .leftContent {
  width: 45%;
}
.leftContent .topic p {
  text-align: justify;
  line-height: 50px;
  font-weight: 100;
  color: var(--grey-color);
  font-size: 14px;
}
.skills .leftContent .exp {
  display: flex;
  align-items: center;
}
.skills .leftContent .exp .expInPara {
  margin: 0 15px;
}
.skills .leftContent .exp .expInNum {
  font-size: 40px;
  font-weight: 200;
}
.skills .leftContent .exp .fresher {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.rightContent {
  padding: 5%;
}
.skills .container .rightContent {
  width: 45%;
}
.skills .container .rightContent .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}
.box {
  /* border: 1px solid red; */
  height: 80px;
  width: 200px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
  z-index: 1;
  
}

/* Project Section */

.project .prjContainer {
  padding: 65px 0;
  background-color: rgb(131, 137, 150);
  /* height: 179vh; */
}
.project .prjContainer span {
  color: var(--white-color);
  font-size: 30px;
  font-weight: 900;
  border-bottom: 3px solid var(--primary-color);
}
.project .prjContainer {
  text-align: center;
}

.project .prjContainer .boxes {
  padding: 20px;
  height: 265px;
  width: 300px;
  border: 1px solid transparent;
  margin: 20px 20px;
  box-shadow: -40px -20px 20px rgba(29, 28, 28, 0.1);
  border-radius: 5px;
  border: 1 px solid grey;
}
.project .prjContainer .boxes:hover {
  box-shadow: -20px 20px 30px rgba(29, 28, 28, 0.5);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.project .prjContainer .workBox {
  padding: 120px;
  display: flex;
  flex-wrap: wrap;
}
.project .boxes .box  {
  width: 250px;
  height: 150px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}
.project .boxes #box1{
  background: url(images/project4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.project .boxes #box2{
  background: url(images/project2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.project .boxes #box3{
  background: url(images/project1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.project .boxes #box6{
  background: url(images/project3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.project .captionBox .captionPara p {
  color:rgb(213, 236, 236);
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  padding: 7px 0;
}
.workBox .more .seeMore button {
  padding: 5px;
  font-size: 17px;
  font-family: calibri;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
  font-weight: 700;
  border-radius: 3px;
}
.workBox .more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}
.project .caption .spnCls {
  font-size: 20px;
  border-bottom: 1px solid var(--primary-color);
}
.project .caption .spnCls a{
  color: var(--white-color);
}
.workBox .more a {
  color: var(--white-color);
}
.showError{
  color: red;
}

/* Contact section Starts */

.contact .data .heading {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}
.contact .data span {
  border-bottom: 2px solid var(--primary-color);
}

.contact .data {
  padding: 5% 0;
}
.contact .data .leftContainer {
  padding: 5% 0;
  width: 50%;
  background-color: #f0f8ff;
}

.contact .data .leftContainer .inputBoxes input {
  width: 450px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}
.contact .data .leftContainer .inputBoxes .msg {
  padding: 30px 0;
}
.contact .data .leftContainer .inputBoxes input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  border: transparent;
}

.contact .rightContainer {
  width: 50%;
  box-sizing: border-box;
  background-color: #f0f8ff;
  padding: 5% 0;
}
.contact .leftRightBox {
  display: flex;
  justify-content: space-between;
  padding: 5% 30px;
}
.contact .leftContainer .inputBoxes {
  text-align: center;
}

.contact .rightContainer .emailCaption {
  padding: 20px 0;
}
.contact .rightContainer .phone {
  padding: 20px 0;
}
.contact .leftRightBox .rightContainer .textBoxes span {
  border: none;
}
.contact .leftRightBox .rightContainer .textBoxes .emailCaption span {
  font-weight: 900;
}
.contact .leftRightBox .rightContainer .textBoxes .phone span {
  font-weight: 900;
}
footer {
  height: 60px;
  /* width: 100%; */
  background-color: black;
}
.footer span {
  color: var(--white-color);
  font-family: calibri;
  word-spacing: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

/* for js */
.colorNav {
  background-color: var(--primary-color);
}
.linkHead {
 color: var(--white-color);
}
.media {
  color: var(--white-color);
}
